(
    island: (
        size: (2048, 4096),
        noise_scale: 5e4,
        cutoff: 0.4,
        reshape_margin: 0.3,
        reshape_radius: 0.3,
        reshape_alpha: 0.5,
        min_area: 0.5,
        max_area: 0.6,
    ),
    height: (
        beach_size: 100,
        land_height: 0.1,
        peak_height: 1.0,
        ocean_depth: 0.1,
        warp_scale: 1e6,
        warp_dist: 100.0,
    ),
    rivers: (
        point_radius: 2.0,
        inertia: 0.3,
        evaporation: 0.2,
        erosion: 0.65,
    )
)
